name: image-build
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.5.1
        with:
          node-version: 16
          cache: yarn
      - name: Install dependencies
        run: yarn install
      - name: Set container image env
        run: echo "CONTAINER_IMAGE=ghcr.io/$GITHUB_REPOSITORY_OWNER/webrtc" >> $CONTAINER_IMAGE
      - name: Build Docker Image
        run: docker build . -t $CONTAINER_IMAGE
      - name: Push Docker Image
        run: docker push $CONTAINER_IMAGE
